<div class="container">
    <% data.forEach((datas)=>{ %>
        <p><%= datas %></p>
        <img src="<%= datas.postImage %>" >
        <img src="\uploads\\users\\blog/image-1670515066402-951058758"
        <p> <%= datas.postImage %> </p>

    <% }) %>
</div>