<div class="container bg-secondary text-white" id="test" style="background-image: url('/<%= data.postImage %>');">
  <div class=" row">
    <div class="col">
      <h3><%= data.heading %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Posted By: <%= data.createdBy.name %></h5>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <h6>Updated on</h6>
    </div>
  </div> -->
  <hr>
  <div class="row">
    <div class="col">
      <h6><%= data. description %></h6>
    </div>
  </div>


</div>